
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



*{
    margin: 0;
    padding: 0;
}

/* ---------------
    common class
------------------ */


.primary-color{
    color: #E02C6D;
}


/*---------------------------
         navber and header 
----------------------------- */
#Navbar{
    position: sticky;
    top: 0;
    opacity: 0.9;
    background: rgb(231, 245, 252);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;  
}

.bar{
    display: none;
}
.logo{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #E02C6D;;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation li{
    list-style: none;
}
.navigation> li > a{
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 24px;
    color: #E02C6D;;

}

.navigation > li > i{
    padding: 10px 14px;
    font-size: 24px;
    color: #E02C6D;;
}


/*--------------------
         bannar
---------------------- */
.top-section{
    height: 677px;
    /* background-color: blanchedalmond; */
}

.bannar{
	padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: space-around;
}

.left-bannar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.left-bannar h1{
    font-size: 52px;
    color: black;
}
.left-bannar p{
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.primary-button{
    outline:0;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 7px 41px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: white;
    border: 3px solid #E02C6D ;
    cursor: pointer;
}

.primary-button:hover{
    background-color: white;
    color:  #E02C6D;
}
.letter-gap{
    margin-left: 10px;
}

.right-bannar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-image: url(/images/CircleDesign.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


#camera{
    width: 300px;
	height: 300px;
	transition: width 2s, height 2s, transform 2s;
}
.top-section:hover #camera{
    width: 440px;
	height: 414px;
	transform: rotate(360deg);
}


/*-------------------------
     company and sponser
--------------------------- */

.company{
    max-width: 1110px;
    min-height: 110px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.company img{
    width: 99.12px;
    height: 39.61px;
    text-align: center;
    margin: 0px auto;
}


/*--------------------
     collection
---------------------- */
.collection{
    max-width: 810px;
    margin: 0 auto;
}
.collection-title{
    text-align: center;
    padding: 10px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: center;
}

.collection-title{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    margin-bottom: 30px;
}

.card{
    width: 305px;
    height: 450px;
    padding: 15px;
    box-shadow: 0px 0px 15px .2px rgb(207, 194, 194);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    cursor: pointer;
    background-color: #f599bb57;
}
.card img{
    width: 300px;
}
.card-name{
    font-size: 28px;
    margin: 15px 0px;
}
.card-price{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    margin-bottom:5px ;
}
.card-rating{
    margin-top: 5px;
}
.filled{
    color: gold;
}
.empty{
    color: rgb(170, 175, 170);
}
.card-rating p{
    padding: 0px 10px;
    display: inline-block;
}

.card p{
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    line-height: 143%;
}

.see-more{
    float: right;
    margin: 20px 60px;
    color:#E02C6D;
    
}
.see-more p{
    display: inline;
    font-size: 20px;
    line-height: 24px;
}

/*--------------------
     feature
---------------------- */

.feature{
    max-width: 850px;
    margin: 0px auto;
}

.join-us{
    clear: right;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:30px;
    overflow: hidden;
    
}
.left{
    margin: 0px auto;
    padding: 20px 40px;
}
.left:hover{
    transform: scale(1.3);
    transition: 2s ease-in-out;

}
.left img{
    max-width: 404px;
    height: 270px;
    box-shadow: 0px 0px 15px .2px rgb(207, 194, 194);
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9))
}

.right{
    max-width: 404px;
    height: 270px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right h1{
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    padding: 5px 0px;
    /* margin: 15px 0px; */
}
.right p{
    font-size: 16px;
    line-height: 28px;
    padding: 5px 0px;
    margin-bottom: 15px;
}
/* -----------------------
        mobile contant
-------------------------- */
.mobile-content{
    max-width: 1050px;
    margin: 0px auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:30px
}

.mobile{
    width: 100%;
    display: flex;
}
.mobile-left{
    display: flex;
    width: 100%;
    margin: 5px auto;
    overflow: hidden;
}
.mobile-left:hover img{
    transform: rotate(360deg);
    transition: 2s ease-in-out;
}


.mobile-left img{
    max-width: 200px;
    height: 262px;
    margin: 5px auto;
}

.mobile-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
}

.mobile-right img{
    max-width: 186px;
    height: 136px;
    margin: 5px auto;
    /* box-shadow: 1px 5px 20px black; */
}
#top{
    border-bottom:3px solid  #E02C6D;
}
#down{
    border-top:3px solid  #E02C6D;

}

/* --------------------
        footer
----------------------- */


.footer-section{
    width: 95%px;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 100px;
}
footer h1{

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
   
}
footer p{
    font-size: 16px;
}

.social-media{
    margin:10px 0px;
    display: flex;
    justify-content: center;
}
.social-media img{
    width: 32px;
    height: 32px;
    padding: 5px 10px;
}

/* -------------------
        Tab
---------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .company{
        grid-template-columns: repeat(4, 1fr);
    }
    .navigation> li > a{
        padding: 15px 14px;
    }
    .navigation > li > i{
        padding: 10px 8px;
    }
    .logo{
        font-size: 20px;
    }
    .details,
    .right{
        padding: 15px;
    }
}



/* -------------------
        Mobile
---------------------- */
@media only screen and (max-width:688px) {
    .top-section{
        height: 800px;
    }
    .collections ,.join-us , .bannar , .mobile-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .company {
        grid-template-columns: repeat(2, 1fr);
    }
    .navigation{
        display: none;
    }
    .bar{
        display: block;
    }
    .left img{
        width: 299px;
        height: 188px;
    }
    .right{
        width: 311px;
        height: 200px;
    }

    .bannar{
        padding: 0px 0px;
    }
    .right-bannar{
    }

    .mobile{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .mobile-right img{
        margin: 0px auto;
    }
    .mobile-left img{
        margin: 0px auto;
    }
    #top{
        border-bottom: none;
        border-left:3px solid  #E02C6D;
    }
    #down{
        border-top: none ;
        border-right:3px solid  #E02C6D;
    
    }
}


