@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    height: 80px;
}
.logo h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 24px;
}
.navigation li i{
    padding: 10px 14px;
    font-size: 24px;
}














